<div class="row">
    <div class="col-xs-12">
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="mb-2">
                <label for="email" class="form-label">Email address</label>
                <input 
                type="email" 
                class="form-control" 
                id="email" 
                ngModel 
                name="email"
                required
                email
                >
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="password" 
                ngModel 
                name="password"
                required
                minlength="6"
                >
            </div>
            <div>
                <button 
                    class="btn btn-primary" 
                    type="submit"
                    [disabled]="!authForm.valid"
                    >
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button> | 
                <button 
                    class="btn btn-secondary" 
                    type="button" 
                    (click)="onSwitchMode()"
                    >
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>
            </div>
        </form>
        <hr>
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="error">
            <span>{{ error }}</span>
            <button class="btn-close" (click)="onDismiss()"></button>
        </div>
    </div>
</div>